*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    height: 100vh;
    width: auto;
 }
 
 
 /*.containerIndex{
 position: relative;
 display: grid;
 grid-template-columns: auto;
 grid-template-rows:auto;
 grid-template-areas: "header"
                      "main"
                      "footer";  
 }*/
 
 .paginas {
   /* display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: end;*/
    background-color: rgb(12, 107, 214);
    
   }
  /*.paginas nav ul li {
      list-style-type: none;
      margin: 0 12px    
   }*/
    
  .paginas nav ul li a {
      text-decoration: none;
      font-weight: bolder;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif; 
      text-transform: uppercase;
      color: white;
      
      
  }
  .paginas nav ul li a:hover{
     color: rgb(255, 252, 69);
     }
 
  .imagenFondo{
    width: 100%;
    height: 90%;
    object-fit:contain;
    background-size: cover;
    padding-top: 25px;
   }
   .quienesSomos{
    color: rgb(12, 107, 214);
   font-style: italic;
   font-weight: bolder;
   font-size: 35px;
   text-align: center;
   font-family: sans-serif;
   margin-bottom: 25px;
   letter-spacing: 4px ;
   overflow: visible;
   padding-top: 25px;
   }
   .parrafoQuienes{
    color: black;
    font-style: normal;
    font-weight: 200;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25px;
   }
   .subtituloIndex{
    text-align: left;
    font-size: 25px;
    background-color: rgb(12, 107, 214);
    color: rgb(255, 254, 254);
    font-style: normal ;
    font-weight: bolder;
    font-family:  sans-serif;
    margin-bottom: 35px;
    padding: 35px;
   }
    .footer {
    /*display: flex;
    flex-direction: row;*/
    margin: 3%;
    }
    .privacidad{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
   
    }
   .iconos ul{
    /*display: flex;
    flex-direction: row;
    align-items:end;
    justify-content:end;*/
    background-color: rgb(255, 252, 69);
    }
    /*.iconos ul li {
        list-style-type: none;
        margin: 0 30px;
        width: 50px;
        height: 50px;
    }
    
 
    /*contacto-----------------------------------------------------------------------*/
    .containerContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: "header"
                             "main"
                             "footer";     
       }
       .paginas{
        /*display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: end;*/
        background-color: rgb(12, 107, 214);}
        /*padding: 15px;
       }
      .containerContacto .paginas nav ul li {
          list-style-type: none;
          margin: 0 12px;
        
       }*/
      .paginas nav ul li a {
          text-decoration: none;
          font-weight: bolder;
          font-style: italic;
          font-family: Arial, Helvetica, sans-serif; 
          text-transform: uppercase;
          color: white;
       }
       .paginas nav ul li a:hover{
         color: rgb(255, 252, 69);
         }  
       .tituloContacto{
        color: rgba(12, 107, 214);
      font-style: normal;
      font-weight: bolder;
      font-size: 35px;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 25px;
       } 
      /*.formulario {
        display:flex;
        flex-direction: column;
        }*/
     .formularioDatos {
        /*display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;*/
        margin-top: 5%;
        color: rgb(12, 107, 214);
        font-style: italic;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bold;
        }
    /*.comenContacto{
        display: flex;        
        align-items: center;
        justify-content:center;
        margin-top: 10%;
        color: rgb(12, 107, 214);
        font-style: italic;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        font-size: bold;
    }*/
    .noticiaViaMail{
        color: black;
        font-size:large;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        margin-top: 5%;        
       } 
        .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
        
        }
       .privacidad{
        display: flex;
        align-items: initial;    
        text-align:left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;      
        }
        
         .footer .iconos ul li {
            list-style-type: none;
            margin: 0 30px;
            width: 50px;
            height: 50px;
          }
          .iconosFooter{
           display: flex;
           flex-direction: row;
           list-style-type: none;
           justify-content: space-around;
         
          }
         /* mediaqueriii-------------------------------------------------------- */
        @media screen and (max-widht:360px){
          .formularioDatos {
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
          }
        }
        /*planes financiados -----------------------------------------------------------------------  */
 
        .containerPlanes{
         display: grid;
         grid-template-columns:1fr ;
         grid-template-rows: auto;
         grid-template-areas: "header"
                             "main"
                             "footer"   
        }
        .paginas  {
        /*display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: end;*/
        background-color: rgb(12, 107, 214);}
        /*padding: 15px;
        }
        .containerPlanes .paginas nav ul li {
        list-style-type: none;
        margin: 0 12px;
        }*/
        .paginas nav ul li a {
        text-decoration: none;
        font-weight: bolder;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif; 
        text-transform: uppercase;
        color: white;
        }
        .paginas nav ul li a:hover{
         color: rgb(255, 252, 69);
         }
        .planDeAhorros{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .tituloPlanes{
            color: rgba(12, 107, 214);
            font-style: normal;
            font-weight: bolder;
            font-size: 35px;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 25px;        
        }
        .parrafoPlan{
        color: black;   
        font-style: normal;
        font-weight: 200;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 15px;
        }
        .requisitos{
        display: flex;
        flex-direction: column;
        align-items:start ;
        justify-content: start;    
        }
        .subtituloRequisitos{
        background-color: rgb(12, 107, 214);
        color: rgb(255, 252, 69);
        width: 100%;
        height: 50px;
        padding-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 30px;
        }
        .listaRequisitos ol li {
        color: black;
        font-style: italic;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        text-align: justify;
        margin-bottom: 15px;
        margin-top: 10px;
        list-style-type: square;
        }
        .tablaPlanes{
        display: inline-block;
        height: auto;
        width: auto;
        margin-left: 25%;
        margin-top: 15px;
        border-width: 10px;
        letter-spacing: 5px;
        border-style: solid ;
        border-top-color:rgb(12, 107, 214);
        border-bottom-color: rgb(12, 107, 214);
        border-right-color: rgb(255, 252, 69);
        border-left-color: rgb(255, 252, 69);    
        }
        tr{
        border-style:solid;
        border-color:rgb(12, 107, 214);
        border-width: 10px;
        font-family: Arial, Helvetica, sans-serif;    
        }
        .footer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 3%;
            background-color: rgb(255, 252, 69);
            }
            .colorFooter{
             background-color: rgb(255, 252, 69);
            }
           .privacidad{
            display: flex;
            align-items: initial;    
            text-align:left;
            font-family: Arial, Helvetica, sans-serif;
            font-weight:bolder;
          
            }
             .footer .iconos ul{
            display: flex;
            flex-direction: row;
            align-items:end;
            justify-content:end;
            background-color: rgb(255, 252, 69);
            }
             .footer .iconos ul li {
                list-style-type: none;
                margin: 0 30px;
                width: 50px;
                height: 50px;
             }
        /* ventas------------------------------------------------------------------------------------ */
        .containerVentas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: "header"
                             "main"
                             "footer";  
           }
        .paginas nav ul {
        /*display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: end;*/
        background-color: rgb(12, 107, 214);}
        /*padding: 15px;
         }*/
        .paginas nav ul li {
         list-style-type: none;
         margin: 0 12px;
         }
        .paginas nav ul li a {
         text-decoration: none;
         font-weight: bolder;
         font-style: italic;
         font-family: Arial, Helvetica, sans-serif; 
         text-transform: uppercase;
         color: white;
        }
        .paginas nav ul li a:hover{
         color: rgb(255, 252, 69);
         } 
        .tituloVentas{
        color: rgba(12, 107, 214);
        font-style: normal;
        font-weight: bolder;
        font-size: 35px;
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 25px;  
        }
        .parrafoVentas ol{
          list-style-type:upper-latin;

        }
        .parrafoVentas ol li {
        color:black;
        font-style: normal;
        font-weight:bolder;
        font-family: Arial, Helvetica, sans-serif;
        font-size:larger;
        text-align: justify;
        margin-top: 2%;           
            
        }
        .parrafoVentas ol li p {
        
        font-style: italic;
        font-weight: 200;
        
        }
        .subtituloCotizacion{
        background-color: rgb(12, 107, 214);
        color: rgb(255, 252, 69);
        width: 100%;
        height: 50px;
        padding-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 30px;
        }
        .formularioVentas{
          color: rgb(12, 107, 214);
          font-style: italic;
          font-weight: 200;
          font-family: Arial, Helvetica, sans-serif;
          font-size: bold;
          padding: 1rem;        
           }
        
        .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        }
        .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
        background-color: rgb(255, 252, 69);
        }
         .footer .privacidad{
        display: flex;
        align-items: initial;    
        text-align:left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;
       
        }
         .footer .iconos ul{
        display: flex;
        flex-direction: row;
        align-items:end;
        justify-content:end;
       
        }
        .footer .iconos ul li {
        list-style-type: none;
        margin: 0 30px;
        width: 50px;
        height: 50px;
        }
         /*compra--------------------------------------------------------------------  */
        .containerCompra{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
         grid-template-rows:auto;
        grid-template-areas: "header"
                             "main"
                             "footer";  
        }
        .paginas nav ul {
        /*display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: end;*/
        background-color: rgb(12, 107, 214);}
        /*padding: 15px;
         }
        .containerCompra .paginas nav ul li {
         list-style-type: none;
         margin: 0 12px;
         }*/
        .paginas nav ul li a {
         text-decoration: none;
         font-weight: bolder;
         font-style: italic;
         font-family: Arial, Helvetica, sans-serif; 
         text-transform: uppercase;
         color: white;
         
        }
        .paginas nav ul li a:hover{
         color: rgb(255, 252, 69);
         }
        .subMenuCompra nav ul  {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 252, 69);
        padding: 15px;
        }
        .subMenuCompra nav ul li{
        list-style-type: none;
        margin: 0 12px; 
        }              
        .subMenuCompra nav ul li a {
        text-decoration: none;
        font-style: normal;
        font-size:large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        color: rgb(0, 0, 0);
        }
        .subMenuCompra nav ul li a:hover {
         color:rgb(12, 107, 214);
          }
 
        .atajosCompra{
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bold;
        color: rgb(12, 107, 214);
        margin-top: 15px;
        margin-bottom: 15px;
        }
        .galeriaAutos{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: cente
        }
        
        
        .sectionGaleria {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        font-style: normal;
        font-weight: bold;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        }
        .catalogo{
        display: flex;
        flex-direction: column;
        justify-items:center;
        align-items: center;
        margin: 6% 6%;
        transition: 1s ease-out;
        }
        .catalogo:hover{
         -webkit-box-shadow: 10px 10px 14px 2px rgb(12, 107, 214);
          box-shadow: 10px 10px 14px 2px rgb(12, 107, 214);                  
        }
        .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
        background-color: rgb(255, 252, 69);
        }
         .footer .privacidad{
        display: flex;
        align-items: initial;    
        text-align:left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bolder;
       
        }
         .footer .iconos ul{
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content:center;
        background-color: rgb(255, 252, 69);
        }
        .footer .iconos ul li {
        list-style-type: none;
        margin: 0 30px;
        width: 50px;
        height: 50px;
         }
         