/*variables*/
$color-azul:rgb(12, 107, 214);
$color-amarillo: rgb(255, 252, 69);
$fuente-general: arial, helvetica, sans-serif;
$color-textos:black; 
/* fin de variables-----*/

/*-----maps-----*/
$fonts :(
    estilo: italic,
    color: black,
    negrita: bolder,
    tipografia: arial helvetica sans-serif,
    mayuscula: large,
);
/*------fin de maps----------*/
